<%= form_for application, url: doorkeeper_submit_path(application), html: { role: 'form' } do |f| %>
  <% if application.errors.any? %>
    <div class="alert alert-danger" data-alert><p><%= t('doorkeeper.applications.form.error') %></p></div>
  <% end %>

  <div class="form-group row">
    <%= f.label :name, class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control #{ 'is-invalid' if application.errors[:name].present? }", required: true %>
      <%= doorkeeper_errors_for application, :name %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :portal_url, class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.text_area :portal_url, class: "form-control #{ 'is-invalid' if application.errors[:portal_url].present? }" %>
      <%= doorkeeper_errors_for application, :portal_url %>
      <span class="form-text text-secondary">
        <%= t('doorkeeper.applications.help.portal_url') %>: Url della index del sito.
      </span>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :redirect_uri, class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.text_area :redirect_uri, class: "form-control #{ 'is-invalid' if application.errors[:redirect_uri].present? }" %>
      <%= doorkeeper_errors_for application, :redirect_uri %>
      <span class="form-text text-secondary">
        <%= t('doorkeeper.applications.help.redirect_uri') %>. Url di callback dopo Oauth2.
      </span>

      <% if Doorkeeper.configuration.native_redirect_uri %>
          <span class="form-text text-secondary">
            <%= raw t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: content_tag(:code, class: 'bg-light') { Doorkeeper.configuration.native_redirect_uri }) %>
            
          </span>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :confidential, class: 'col-sm-2 form-check-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.check_box :confidential, class: "checkbox #{ 'is-invalid' if application.errors[:confidential].present? }" %>
      <%= doorkeeper_errors_for application, :confidential %>
      <span class="form-text text-secondary">
        <%= t('doorkeeper.applications.help.confidential') %>
      </span>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :demo_site, 'Ente per demo ?', class: 'col-sm-2 form-check-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.check_box :demo_site, class: "checkbox #{ 'is-invalid' if application.errors[:demo_site].present? }" %>
      <%= doorkeeper_errors_for application, :demo_site %>
      <span class="form-text text-secondary">
        <%= t('doorkeeper.applications.help.demo_site') %>
      </span>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :mobile_app, 'Usa app nativa?', class: 'col-sm-2 form-check-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.check_box :mobile_app, class: "checkbox #{ 'is-invalid' if application.errors[:mobile_app].present? }" %>
      <%= doorkeeper_errors_for application, :mobile_app %>
      <span class="form-text text-secondary">
        <%= t('doorkeeper.applications.help.mobile_app') %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :scopes, class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.text_field :scopes, class: "form-control #{ 'has-error' if application.errors[:scopes].present? }" %>
      <%= doorkeeper_errors_for application, :scopes %>
      <span class="form-text text-secondary">
        <%= t('doorkeeper.applications.help.scopes') %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :image_url, class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.text_field :image_url, class: "form-control #{ 'has-error' if application.errors[:image_url].present? }" %>
      <%= doorkeeper_errors_for application, :image_url %>
      <span class="form-text text-secondary">
        <%= t('doorkeeper.applications.help.image_url') %>
      </span>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :tipo_login, class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <!--- <%= f.text_field :tipo_login, class: "form-control #{ 'has-error' if application.errors[:tipo_login].present? }" %> -->
      <%= f.select(:tipo_login) do %>
        <% [['Front End', 1], ['API', 2]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
      
      <%= doorkeeper_errors_for application, :tipo_login %>
      <span class="form-text text-secondary">
        <%= t('doorkeeper.applications.help.tipo_login') %>
      </span>
    </div>
  </div>

  
  
  <div class="form-group row">
    <%= f.label :extra_info, class: 'col-sm-2 col-form-label font-weight-bold' %>
    <div class="col-sm-10">
      <%= f.text_area(:extra_info, size: '50x5') %>
      
      <%= doorkeeper_errors_for application, :extra_info %>
      
    </div>
  </div>
  


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t('doorkeeper.applications.buttons.submit'), class: 'btn btn-primary' %>
      <%= link_to t('doorkeeper.applications.buttons.cancel'), oauth_applications_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
