<!DOCTYPE html>
<html>
  <head>
    <title>Oes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'exampleApp/index' %>
    <%= stylesheet_pack_tag 'exampleApp/assets/stylesheets/app' %>
    
    <%= javascript_pack_tag 'login/index' %>
    <%= stylesheet_pack_tag 'login/assets/stylesheets/app' %>
    
  </head>

  <body>
    <h4>testata del layout</h4>
    <%= yield %>
  </body>
</html>
